<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enter Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>

      <link rel="stylesheet" href="css/style2.css">

  
</head>

<body>
  <div class="row">
    <div class="col-sm-12">
  <div ng-controller="AppCtrl as ctrl" class="md-padding selectdemoBasicUsage" ng-cloak="" layout="column" ng-app="MyApp">

  <p><center>
    Please give us a few details.</center>
  </p>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Account Preferences</span>
        <span class="md-subhead">Tell us a little about you.</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row">
        <md-input-container>
          <label>Street Name</label>
          <input>
        </md-input-container>

        <md-input-container>
          <label>City</label>
          <input>
        </md-input-container>

        <md-input-container>
          <label>State</label>
          <md-select ng-model="ctrl.userState">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Battle Preferences</span>
        <span class="md-subhead">Choose wisely if you want to win.</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <span>What is your favorite weapon?</span>
        <md-select ng-model="weapon" placeholder="Weapon" class="md-no-underline">
          <md-option value="axe">Axe</md-option>
          <md-option value="sword">Sword</md-option>
          <md-option value="wand">Wand</md-option>
          <md-option value="pen">Pen?</md-option>
        </md-select>
      </div>

      <div layout="row" layout-align="space-between center">
        <span>What armor do you wear?</span>
        <md-select ng-model="armor" placeholder="Armor" class="md-no-underline" required="" md-no-asterisk="false">
          <md-option value="cloth">Cloth</md-option>
          <md-option value="leather">Leather</md-option>
          <md-option value="chain">Chainmail</md-option>
          <md-option value="plate">Plate</md-option>
        </md-select>
      </div>

      <div layout="row" layout-align="space-between center">
        <span>How do you refresh your magic?</span>
        <md-select ng-model="drink" placeholder="Drink" class="md-no-underline">
          <md-option value="water">Water</md-option>
          <md-option value="juice">Juice</md-option>
          <md-option value="milk">Milk</md-option>
          <md-option value="wine">Wine</md-option>
          <md-option value="mead">Mead</md-option>
        </md-select>
      </div>
      <br>
      <h3>Invert</h3>
    <md-slider-container>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Regular</span>
      </div>
      <md-slider ng-model="invert" min="0" max="100" aria-label="regular slider"></md-slider>

      <md-input-container>
        <input flex type="number" ng-model="invert" aria-label="regular-slider">
      </md-input-container>
    </md-slider-container>
    <md-slider-container>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Invert</span>
      </div>
      <md-slider md-invert ng-model="invert" min="0" max="100" aria-label="invertd slider"></md-slider>

      <md-input-container>
        <input flex type="number" ng-model="invert" aria-label="invert-slider">
      </md-input-container>
    </md-slider-container>
    <br>
    <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
          </md-input-container>

           <md-input-container class="md-block">
          <label>Biography</label>
          <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

  </md-card>
<center>
  <br><a class = "btn btn-success" href = "index4.html" role = "button">Go!</a> <br>
  <center>
</div>
</div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

    <script src="js/index2.js"></script>
    <script src="js/index3.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
